<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/109669/pexels-photo-109669.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);">
  <div class="container">
    <h1 class="text-center">Here is the <strong>Playlists</strong> of your favorite moves</h1>
  </div>
</div>

<% @lists.each do |list| %>
  <div class="card-index">
    <%= link_to list_path(list) do %>
      <div class="card-index-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <%= list.name %>
      </div>
  </div>
  <% end %>
<% end %>
